# ========================
# BINARY / BUILD
# ========================
/bin/
/build/
*.exe
*.exe~
*.dll
*.so
*.dylib

# ========================
# GO
# ========================
go.work
go.work.sum

# ========================
# ENV
# ========================
.env
.env.*
!.env.example

# ========================
# LOGS
# ========================
*.log

# ========================
# DATABASE / TEMP
# ========================
*.sql
*.db
*.sqlite

# ========================
# IDE
# ========================
.vscode/
.idea/
*.swp
*.swo

# ========================
# OS
# ========================
.DS_Store
Thumbs.db